<!DOCTYPE html>
<html lang="en">

<head>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css"></link>
</head>

<body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/dashboard">Dashboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>The Tech Blog</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>

    {{/if}}

</body>

</html>